<div style="
        position: fixed;
        bottom: 50px;
        left: 10px;
        z-index: 1000;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    ">
    <label for="routeSlider">Select Route:</label>
    <div style="display: flex; align-items: center;">
        <img src="assets/svg/slider_shadow.svg" alt="Shadow" style="width: 24px; height: 24px; margin-right: 10px;">
        <input type="range" id="routeSlider" min="0" max="{len_routes}" value="0" oninput="sliderChanged()" style="flex-grow: 1;">
        <img src="assets/svg/slider_sun.svg" alt="Sun" style="width: 24px; height: 24px; margin-left: 10px;">
    </div>
    <br>
    <input type="checkbox" id="showAllRoutes" checked onchange="updateRoutes()">
    <label for="showAllRoutes">Show All Routes</label>
    <br>
    <input type="checkbox" id="toggleShadow" checked onchange="updateRoutes()">
    <label for="toggleShadow">Show Shadows</label>
</div>
  