<div id="timeInfo" style="
        position: fixed;
        bottom: 10px;
        left: 320px;
        right: 10px;
        margin: auto;
        z-index: 1000;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
        width: 60%;
        min-width: 400px;
        display: none;
    ">
    <div id="timeBar" style="
            position: relative;
            width: 100%;
            height: 30px;
            background: #e8e8e8;
        ">
        <div id="timeShadowSegment" style="
                position: absolute;
                right: 50%;
                height: 100%;
                background: #1795d4;
                text-align: right;
                padding-right: 5px;
                color: white;
                line-height: 30px;
            ">
        </div>
        <div id="timeSunSegment" style="
                position: absolute;
                left: 50%;
                height: 100%;
                background: #ff271c;
                text-align: left;
                padding-left: 5px;
                color: white;
                line-height: 30px;
            ">
        </div>
        <div id="timeDivider" style="
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                background: black;
                height: 100%;
            ">
        </div>
    </div>
    <div id="totalTime" style="text-align: center; margin-top: 5px;"></div>
</div>